# LocalStack Configuration
ENDPOINT_URL=http://localstack:4566
S3_ENDPOINT_URL=http://localhost:4566

# AWS Credentials
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_DEFAULT_REGION=us-east-1

# S3 Buckets
UPLOAD_BUCKET=audio-uploads
PROCESSED_BUCKET=processed-audio

# DynamoDB
DYNAMODB_TABLE=audio-processing-status

# SQS
QUEUE_NAME=audio-processing-queue

# API Configuration
ALLOWED_ORIGINS=*  # Comma-separated list of allowed origins for CORS

# LocalStack Volume (optional)
LOCALSTACK_VOLUME_DIR=./volume 